* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #f2f2f2, #BFA399);
  height: 36vh;
}
.navbar img {
  height: 200px;
}
.navbar ul {
  float: right;
  margin-right: 25px;
}
.navbar ul li {
  display: inline-block;
  margin-right: 2rem;
  list-style: none;
}
.navbar ul li .nav-link {
  color: #f2f2f2;
}
.navbar ul li a {
  position: relative;
  color: #f2f2f2;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 0;
  text-decoration: none;
}
.navbar ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #f2f2f2;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
.navbar ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.carrousel-item img {
  height: 60vh;
}

.tituloPrincipal {
  text-align: center;
  font-size: 5rem;
  color: #BFA399;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.stickers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.stickers .sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20vw;
}
.stickers .sticker img {
  width: 6vw;
  height: 10vh;
}
.stickers .sticker h2 {
  color: #BFA399;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
.stickers .sticker h3 {
  color: #BFA399;
  font-size: 1rem;
}
.stickers .sticker .img_wpp {
  margin-top: 1.5rem;
  height: 8vh;
  width: 5vw;
}

#CarritoDeCompras__ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
#CarritoDeCompras__ul .card__body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#CarritoDeCompras__ul .card__body .card__title {
  color: #BFA399;
}
#CarritoDeCompras__ul .card__body .btn {
  background-color: #BFA399;
  border: none;
}
#CarritoDeCompras__ul .card__body .btn:hover {
  transition: 0.5s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

/* Enlaces de pagina principal */
#section__enlaces {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#section__enlaces .containerEnlace1 {
  display: flex;
  flex-flow: row wrap;
}
#section__enlaces .containerEnlace1 .enlace1 .enlaceImg {
  width: 40vw;
  height: 80vh;
}
#section__enlaces .containerEnlace2-3-4 {
  display: flex;
  flex-flow: column wrap;
}
#section__enlaces .containerEnlace2-3-4 .enlace2 {
  text-align: center;
}
#section__enlaces .containerEnlace2-3-4 .enlace2 .enlaceImg {
  width: 50vw;
  height: 30vh;
}
#section__enlaces .containerEnlace2-3-4 .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#section__enlaces .containerEnlace2-3-4 .container .enlace3 .enlaceImg {
  width: 25vw;
  height: 43.5vh;
}
#section__enlaces .containerEnlace2-3-4 .container .enlace4 .enlaceImg {
  width: 25vw;
  height: 43.5vh;
}

/* Titulo pagina principal */
.title {
  text-align: center;
  color: #BFA399;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.title h2 {
  font-size: 4rem;
}

/* Ropa */
.container_fila {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 3vh;
}
.container_fila .col_ropa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 23vw;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
.container_fila .col_ropa img {
  height: 60vh;
  width: 100%;
}
.container_fila .col_ropa h4 {
  color: #BFA399;
  text-align: center;
}
.container_fila .col_ropa .col__bolsa {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.container_fila .col_ropa .col__bolsa h5 {
  height: 1rem;
}
.container_fila .col_ropa .col__bolsa button {
  background-color: #BFA399;
  border: solid 1px;
  color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px 5px;
}
.container_fila .col_ropa .col__bolsa button:hover {
  transition: 0.5s;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

.footer {
  height: 40vh;
  width: 100vw;
  background-color: #BFA399;
}
.footer .redesSociales {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer .enlacesFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.footer .enlacesContactoFooter {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
