* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #f2f2f2, #BFA399);
  height: 36vh;
}
.navbar .brand-title img {
  height: 200px;
}
@media (max-width: 520px) {
  .navbar .brand-title img {
    display: none;
  }
}
.navbar .brand-title .brand-p {
  display: none;
}
@media (max-width: 520px) {
  .navbar .brand-title .brand-p {
    display: block;
    font-size: 3rem;
    font-style: italic;
    color: #f2f2f2;
    position: fixed top;
  }
}
.navbar .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
@media (max-width: 520px) {
  .navbar .toggle-button {
    display: flex;
  }
}
.navbar .navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar .navbar-links ul li {
  list-style: none;
}
.navbar .navbar-links ul li a {
  display: block;
  position: relative;
  color: #f2f2f2;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 0;
  text-decoration: none;
  margin-right: 10px;
}
.navbar .navbar-links ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #f2f2f2;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
.navbar .navbar-links ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
@media (max-width: 520px) {
  .navbar .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 520px) {
  .navbar .navbar-links ul li {
    text-align: center;
    width: 50vw;
  }
}
.navbar .navbar-links ul li .navbar-button {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
}
.navbar .navbar-links ul li .navbar-button img {
  height: 30px;
  width: 30px;
}
@media (max-width: 520px) {
  .navbar .navbar-links ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 520px) {
  .navbar .navbar-links {
    display: none;
    width: 100%;
  }
}
@media (max-width: 520px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: 15vh;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .navbar .navbar-links.active {
    display: flex;
  }
}

/* boton carrito de compras */
.carritoContainer {
  width: 25vw;
  height: 30vh;
  background-color: #f2f2f2;
  margin-right: -25vw;
  display: none;
}
.carritoContainer .productoComprado {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
}
.carritoContainer .productoComprado .productoPrecio {
  color: #BFA399;
}

/* titulo principal */
.tituloPrincipal {
  text-align: center;
  font-size: 5rem;
  color: #BFA399;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* seccion stickers */
.stickers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.stickers .sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20vw;
}
.stickers .sticker img {
  width: 6vw;
  height: 10vh;
}
.stickers .sticker h2 {
  color: #BFA399;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 1rem;
}
.stickers .sticker h3 {
  color: #BFA399;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.stickers .sticker .img_wpp {
  margin-top: 1.5rem;
  height: 8vh;
  width: 5vw;
}

/* Enlaces de pagina principal */
#section__enlaces {
  display: grid;
  grid-template-columns: 47vw 47vw;
  grid-template-rows: 80vh;
  grid-template-areas: "containerEnlace1 containerEnlace2_3_4";
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}
#section__enlaces .containerEnlace1 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#section__enlaces .containerEnlace1 .enlace1 {
  grid-area: containerEnlace1;
  width: 50vw;
  height: 80vh;
  background-image: url(/img/productos/jeanRoto2.jpg);
  background-size: 100%;
  object-fit: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
#section__enlaces .containerEnlace1 .enlace1 .titleEnlace {
  text-align: center;
  font-size: 6rem;
  color: #f2f2f2;
}
#section__enlaces .containerEnlace1 .enlace1 .botonEnlace {
  background-color: transparent;
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 40px;
  border: 2.5px solid #f2f2f2;
}
#section__enlaces .containerEnlace1 .enlace1 .botonEnlace:hover {
  background-color: #f2f2f2;
  color: black;
  transition: 0.5s;
}
#section__enlaces .containerEnlace1 .enlace1:hover {
  opacity: 1;
  transition: 0.6s;
  transform: translate(1.05, 1.05);
}
#section__enlaces .containerEnlace2_3_4 {
  grid-area: containerEnlace2_3_4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#section__enlaces .containerEnlace2_3_4 #container {
  grid-area: container;
  width: 46vw;
  height: 40vh;
  display: flex;
  flex-flow: row nowrap;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace3 {
  grid-area: enlace3;
  width: 23vw;
  margin-top: 2rem;
  height: 43.5vh;
  object-fit: cover;
  background-image: url(/img/productos/index/image18.jpeg);
  background-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace3 .titleEnlace {
  text-align: center;
  font-size: 4rem;
  color: #f2f2f2;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace3 .botonEnlace {
  background-color: transparent;
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 40px;
  border: 2.5px solid #f2f2f2;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace3 .botonEnlace:hover {
  background-color: #f2f2f2;
  color: black;
  transition: 0.5s;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace3:hover {
  opacity: 1;
  transition: 0.6s;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace4 {
  grid-area: enlace4;
  width: 23vw;
  margin-top: 2rem;
  height: 43.5vh;
  object-fit: cover;
  background-image: url(/img/productos/cinturon.jpg);
  background-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  margin-left: 1.5rem;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace4 .titleEnlace {
  text-align: center;
  font-size: 4rem;
  color: #f2f2f2;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace4 .botonEnlace {
  background-color: transparent;
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 40px;
  border: 2.5px solid #f2f2f2;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace4 .botonEnlace:hover {
  background-color: #f2f2f2;
  color: black;
  transition: 0.5s;
}
#section__enlaces .containerEnlace2_3_4 #container .enlace4:hover {
  opacity: 1;
  transition: 0.6s;
}
#section__enlaces .containerEnlace2_3_4 .enlace2 {
  grid-area: enlace2;
  background-image: url(/img/productos/index/image10.jpeg);
  width: 100%;
  height: 40vh;
  display: flex;
  width: 46vw;
  background-size: 100%;
  object-fit: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
#section__enlaces .containerEnlace2_3_4 .enlace2 .titleEnlace2 {
  text-align: center;
  font-size: 4rem;
  color: #f2f2f2;
}
#section__enlaces .containerEnlace2_3_4 .enlace2 .botonEnlace {
  background-color: transparent;
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 40px;
  border: 2.5px solid #f2f2f2;
}
#section__enlaces .containerEnlace2_3_4 .enlace2 .botonEnlace:hover {
  background-color: #f2f2f2;
  color: black;
  transition: 0.5s;
}
#section__enlaces .containerEnlace2_3_4 .enlace2:hover {
  opacity: 1;
  transition: 0.6s;
}

/* Titulo pagina principal */
.title {
  text-align: center;
  color: #BFA399;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.title h2 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

/* Ropa */
.container_fila {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 3vh;
}
.container_fila .col_ropa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 23vw;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
.container_fila .col_ropa img {
  height: 60vh;
  width: 100%;
}
.container_fila .col_ropa h4 {
  font-size: 1.5rem;
  color: #BFA399;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
.container_fila .col_ropa .col__bolsa {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.container_fila .col_ropa .col__bolsa h5 {
  font-size: 1.1rem;
  height: 1rem;
  font-family: "Montserrat", sans-serif;
}
.container_fila .col_ropa .col__bolsa button {
  background-color: #BFA399;
  border: solid 1px;
  color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.container_fila .col_ropa .col__bolsa button:hover {
  transition: 0.5s;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

/* Carrousel index*/
.container {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.container .slider-outer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.container .slider-outer img {
  width: 40px;
  height: 40px;
}
.container .slider-outer .slider-inner {
  width: 80vw;
  position: relative;
  overflow: hidden;
  padding: 3px;
  display: flex;
  flex-flow: row nowrap;
}
.container .slider-outer .slider-inner img {
  display: none;
  width: 80vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 50%;
}
.container .slider-outer .slider-inner img.active {
  display: inline-block;
}
.container .slider-outer .prev .next {
  margin-top: 50%;
  cursor: pointer;
}
.container .slider-outer .prev {
  position: relative;
  margin-left: -45px;
  z-index: 100;
  border: none;
  background-color: #BFA399;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.container .slider-outer .prev:hover {
  background-color: white;
  border: solid 4px #BFA399;
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}
.container .slider-outer .next {
  position: relative;
  margin-right: -45px;
  z-index: 100;
  border: none;
  background-color: #BFA399;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.container .slider-outer .next:hover {
  background-color: white;
  border: solid 4px #BFA399;
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}
.container .containerEnlacesSlider {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container .containerEnlacesSlider .enlaceSlider1 {
  display: none;
  background-color: transparent;
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 40px;
  border: 2.5px solid #f2f2f2;
}
.container .containerEnlacesSlider .enlaceSlider1:hover {
  background-color: #f2f2f2;
  color: black;
  transition: 0.5s;
}
.container .containerEnlacesSlider .enlaceSlider2 {
  display: none;
  background-color: transparent;
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 40px;
  border: 2.5px solid #f2f2f2;
}
.container .containerEnlacesSlider .enlaceSlider2:hover {
  background-color: #f2f2f2;
  color: black;
  transition: 0.5s;
}
.container .containerEnlacesSlider .enlaceSlider3 {
  display: none;
  background-color: transparent;
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 40px;
  border: 2.5px solid #f2f2f2;
}
.container .containerEnlacesSlider .enlaceSlider3:hover {
  background-color: #f2f2f2;
  color: black;
  transition: 0.5s;
}
.container .containerCircle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100px;
  margin-top: 1rem;
}
.container .containerCircle .circle1 {
  width: 30px;
  height: 30px;
  border: solid #BFA399;
  border-radius: 60%;
  background-color: #BFA399;
}
.container .containerCircle .circle2 {
  width: 30px;
  height: 30px;
  border: solid #BFA399;
  border-radius: 60%;
  background-color: transparent;
}
.container .containerCircle .circle3 {
  width: 30px;
  height: 30px;
  border: solid #BFA399;
  border-radius: 60%;
  background-color: transparent;
}

/* fin carousel */
/* footer */
.footer {
  height: 35vh;
  width: 100vw;
  background-color: #BFA399;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer .redesSociales {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer .redesSociales .enlaceRedes {
  margin-top: 1rem;
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}
.footer .redesSociales .enlaceRedes:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}
.footer .enlacesFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer .enlacesFooter .enlacesFooterA {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.footer .enlacesFooter .enlacesFooterA a {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}
.footer .enlacesContactoFooter {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.footer .enlacesContactoFooter .enlacesContactoFooter__a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 1rem;
}
.footer .enlacesContactoFooter .enlacesContactoFooter__a img {
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 5px;
}
.footer .enlacesContactoFooter .enlacesContactoFooter__a a {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

/* HTML PANTALON */
#containerRopa {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 3vh;
}
#containerRopa .col_ropa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 23vw;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
#containerRopa .col_ropa img {
  height: 60vh;
  width: 100%;
}
#containerRopa .col_ropa h4 {
  font-size: 1.5rem;
  color: #BFA399;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerRopa .col_ropa .col__bolsa {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
#containerRopa .col_ropa .col__bolsa h5 {
  font-size: 1.1rem;
  height: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerRopa .col_ropa .col__bolsa button {
  background-color: #BFA399;
  border: solid 1px;
  color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
#containerRopa .col_ropa .col__bolsa button:hover {
  transition: 0.5s;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

/* HTML ACCESORIOS */
#containerAccesorios {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 3vh;
}
#containerAccesorios .col_ropa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 23vw;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
#containerAccesorios .col_ropa img {
  height: 60vh;
  width: 100%;
}
#containerAccesorios .col_ropa h4 {
  font-size: 1.5rem;
  color: #BFA399;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerAccesorios .col_ropa .col__bolsa {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
#containerAccesorios .col_ropa .col__bolsa h5 {
  font-size: 1.1rem;
  height: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerAccesorios .col_ropa .col__bolsa button {
  background-color: #BFA399;
  border: solid 1px;
  color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
#containerAccesorios .col_ropa .col__bolsa button:hover {
  transition: 0.5s;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

/* HTML ACCESORIOS */
#containerCamperas {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 3vh;
}
#containerCamperas .col_ropa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 23vw;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
#containerCamperas .col_ropa img {
  height: 60vh;
  width: 100%;
}
#containerCamperas .col_ropa h4 {
  font-size: 1.5rem;
  color: #BFA399;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerCamperas .col_ropa .col__bolsa {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
#containerCamperas .col_ropa .col__bolsa h5 {
  font-size: 1.1rem;
  height: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerCamperas .col_ropa .col__bolsa button {
  background-color: #BFA399;
  border: solid 1px;
  color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
#containerCamperas .col_ropa .col__bolsa button:hover {
  transition: 0.5s;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

/* HTML REMERAS */
#containerRemeras {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 3vh;
}
#containerRemeras .col_ropa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 23vw;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
#containerRemeras .col_ropa img {
  height: 60vh;
  width: 100%;
}
#containerRemeras .col_ropa h4 {
  font-size: 1.5rem;
  color: #BFA399;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerRemeras .col_ropa .col__bolsa {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
#containerRemeras .col_ropa .col__bolsa h5 {
  font-size: 1.1rem;
  height: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerRemeras .col_ropa .col__bolsa button {
  background-color: #BFA399;
  border: solid 1px;
  color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
#containerRemeras .col_ropa .col__bolsa button:hover {
  transition: 0.5s;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

/* HTML PRODUCTOS */
#containerProductos {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 3vh;
}
#containerProductos .col_ropa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 23vw;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
#containerProductos .col_ropa img {
  height: 60vh;
  width: 100%;
}
#containerProductos .col_ropa h4 {
  font-size: 1.5rem;
  color: #BFA399;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerProductos .col_ropa .col__bolsa {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
#containerProductos .col_ropa .col__bolsa h5 {
  font-size: 1.1rem;
  height: 1rem;
  font-family: "Montserrat", sans-serif;
}
#containerProductos .col_ropa .col__bolsa button {
  background-color: #BFA399;
  border: solid 1px;
  color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
#containerProductos .col_ropa .col__bolsa button:hover {
  transition: 0.5s;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
  border: solid 1px #BFA399;
  background-color: #f2f2f2;
  color: #BFA399;
}

/* HTML CONTACTO */
.containerContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f2f2f2, #BFA399);
  margin-bottom: 8rem;
  height: 75vh;
  width: 100%;
}
.containerContacto .mapa {
  margin-right: 2rem;
  border-radius: 20px;
}
.containerContacto .enlacesContacto {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  width: 20vw;
  border-radius: 20px;
}
.containerContacto .enlacesContacto .tituloEnlacesContacto {
  font-size: 2.9rem;
  font-family: "Montserrat", sans-serif;
  color: #BFA399;
  text-align: center;
}
.containerContacto .enlacesContacto .instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containerContacto .enlacesContacto .instagram a img {
  width: 40px;
  height: 40px;
}
.containerContacto .enlacesContacto .instagram a img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.containerContacto .enlacesContacto .instagram .arrobaInstagram {
  color: #BFA399;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.5rem;
}
.containerContacto .enlacesContacto .whatsapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containerContacto .enlacesContacto .whatsapp img {
  width: 35px;
  height: 35px;
}
.containerContacto .enlacesContacto .whatsapp img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.containerContacto .enlacesContacto .whatsapp a {
  margin-left: 0.5rem;
  color: #BFA399;
  font-family: "Montserrat", sans-serif;
}
.containerContacto .enlacesContacto .email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containerContacto .enlacesContacto .email img {
  width: 35px;
  height: 25px;
}
.containerContacto .enlacesContacto .email img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.containerContacto .enlacesContacto .email a {
  margin-left: 0.5rem;
  color: #BFA399;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=style.css.map */
