@import 'variables';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, $bgColorWhite, $bgColorSweetPink);
    height: 36vh; 
    
    
    .brand-title{
        img{
            height: 200px;
            @media (max-width: 520px) {
                display: none;
                
            }    
        }
        .brand-p{
            display: none;
            @media (max-width: 520px) {
                display: block;
                font-size: 3rem;
                font-style: italic;
                color: $bgColorWhite;
                position: fixed top;

            }
        }
    }
    .toggle-button{
        position: absolute;
        top:  .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        .bar{
            height: 3px;
            width: 100%;
            background-color: $bgColorWhite;
            border-radius: 10px;
        }
        @media (max-width: 520px) {            
            display: flex;            
        }
    }    

    .navbar-links{
        ul{
        margin: 0;
        padding: 0;
        display: flex;

            li{
                list-style: none;                
                a{
                    display: block;
                    position: relative;
                    color: $bgColorWhite;
                    font-size: 18px;
                    text-transform: uppercase;
                    padding: 5px 0;
                    text-decoration: none;
                    margin-right: 10px;
            

                    &::before{
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        width: 100%;
                        background: $bgColorWhite;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .4s linear;
                    }
                    &:hover::before{
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                    @media (max-width: 520px) {
                        padding: .5rem 1rem;
                    }
                }
                @media (max-width: 520px) {
                    text-align: center;
                    width: 50vw;
                    
                }
                .navbar-button{
                    height: 50px;
                    width: 50px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    align-items: center;

                    img{
                        height: 30px;
                        width: 30px;

                    }
                }
            }
            @media (max-width: 520px) {
                flex-direction: column;
                width: 100%;
                align-items: center;
            }
        }
        @media (max-width: 520px) {
            display: none;
            width: 100%;
        }
        
    }
    @media (max-width: 520px) {        
        flex-direction: column;
        align-items: center;
        height: 15vh;
        justify-content: center;
        

    }
    .navbar-links.active{
        @media (max-width: 520px) {
            display: flex;
    }
    }
    
}

/* boton carrito de compras */
.carritoContainer{
    width: 25vw;
    height: 30vh;
    background-color: $bgColorWhite;
    margin-right: 25vw;
    display: none;
    .productoComprado{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        background-color: $bgColorWhite;

        .productoPrecio{
            color: $bgColorSweetPink;
        }

    }
}

/* titulo principal */

.tituloPrincipal{
    text-align: center;
    font-size: 5rem;
    color: $bgColorSweetPink;
    font-family: $font-family;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* seccion stickers */
.stickers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;

    .sticker{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 20vw;

        img{
            width: 6vw;
            height: 10vh;
        }
        h2{
            color: $bgColorSweetPink;
            font-size: 1.5rem;
            font-family: $font-family;
            text-align: center;
            margin-top: 1rem;
        }
        h3{
            color: $bgColorSweetPink;
            font-size: 1rem;
            font-family: $font-family;
        }
        .img_wpp{
            margin-top: 1.5rem;
            height: 8vh;
            width: 5vw;
        }
    }
}


/* Enlaces de pagina principal */
#section__enlaces{
    display: grid;
    grid-template-columns: 47vw 47vw;
    grid-template-rows: 40vh;
    grid-template-areas: "containerEnlace1 containerEnlace2-3-4";
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 20rem;

    .containerEnlace1{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        .enlace1{
            grid-area: containerEnlace1;
            width: 50vw;
            height: 80vh;
            background-image: url(/img/productos/jeanRoto2.jpg);
            background-size: 100%;
            object-fit: cover;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            opacity: 0.8;

            .titleEnlace{        
                text-align: center;
                font-size: 6rem;
                color: $bgColorWhite;
                
                
            }
            .botonEnlace{
                background-color: transparent;
                padding: 10px 20px;
                color: $bgColorWhite;
                border-radius: 40px;
                border: 2.5px solid $bgColorWhite;

                &:hover{
                    background-color: $bgColorWhite;
                    color: black;
                    transition: .5s;
                }
                
            }
            &:hover{
                opacity: 1;
                transition: .6s;
                transform:translate(1.05,1.05)
            }
        }
    
    }

    .containerEnlace2-3-4{
        grid-area: containerEnlace2-3-4;
        display: grid;        
        grid-template-columns: 50vw;
        grid-template-rows: 80vh;        
        grid-template-areas: "enlace2"
                            "container";
        

        .enlace2{
            grid-area: enlace2;
            text-align: center;
            background-image: url(/img/productos//index/image10.jpeg);
            background-size: 100%;
            width: 49vw;
            height: 30vh;
            object-fit: cover;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            opacity: 0.8;

            .titleEnlace2{        
                text-align: center;
                font-size: 4rem;
                color: $bgColorWhite;
                
            }
            
            .botonEnlace{
                background-color: transparent;
                padding: 10px 20px;
                color: $bgColorWhite;
                border-radius: 40px;
                border: 2.5px solid $bgColorWhite;

                &:hover{
                    background-color: $bgColorWhite;
                    color: black;
                    transition: .5s;
                }               
            }
            &:hover{
                opacity: 1;
                transition: .6s;
            }
        }        
        .container{
            grid-area: container;
            width: 47vw;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            grid-template-areas: "enlace3 enlace4";
            
            
        
            .enlace3{
                grid-area: enlace3;
                width: 23vw;
                height: 43.5vh;
                object-fit: cover;
                background-image: url(/img/productos/index/image18.jpeg);
                background-size: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                opacity: 0.8;
                
                .titleEnlace{        
                    text-align: center;
                    font-size: 4rem;
                    color: $bgColorWhite;
                    
                }
                .botonEnlace{
                    background-color: transparent;
                    padding: 10px 20px;
                    color: $bgColorWhite;
                    border-radius: 40px;
                    border: 2.5px solid $bgColorWhite;
    
                    &:hover{
                        background-color: $bgColorWhite;
                        color: black;
                        transition: .5s;
                    }
                    
                }
                &:hover{
                    opacity: 1;
                    transition: .6s;
                }
            }
            .enlace4{
                grid-area: enlace4;
                width: 23vw;
                height: 43.5vh;
                object-fit: cover;
                background-image: url(/img/productos/cinturon.jpg);
                background-size: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                opacity: 0.8;
                margin-left: 1.5rem;
                
                .titleEnlace{        
                    text-align: center;
                    font-size: 4rem;
                    color: $bgColorWhite;
                    
                }
                .botonEnlace{
                    background-color: transparent;
                    padding: 10px 20px;
                    color: $bgColorWhite;
                    border-radius: 40px;
                    border: 2.5px solid $bgColorWhite;
    
                    &:hover{
                        background-color: $bgColorWhite;
                        color: black;
                        transition: .5s;
                    }
                    
                }
                &:hover{
                    opacity: 1;
                    transition: .6s;
                }
            
            }
        }

    }
}
    
    



/* Titulo pagina principal */

.title{
    text-align: center;
    color : $bgColorSweetPink;
    margin-top: 2rem;
    margin-bottom: 2rem;    
    h2{
        font-size: 4rem;
        font-family: $font-family;
    }
}

/* Ropa */
.container_fila{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);
        margin-bottom: 1rem;

        img{
            height: 60vh;
            width: 100%;
            
        }
        h4{
            font-size: 1.5rem;
            color: $bgColorSweetPink;
            text-align: center;
            margin-top: 1rem;
            font-family: $font-family;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                font-size: 1.1rem;
                height: 1rem;
                font-family: $font-family;
                
            }
            button{
                background-color: $bgColorSweetPink;
                border: solid 1px;
                color: $bgColorWhite;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 4px 5px;
                font-family: $font-family;
                cursor: pointer;
    
                &:hover{
                    
                    transition: 0.5s;
                    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
                    border: solid 1px $bgColorSweetPink;
                    background-color: $bgColorWhite;
                    color: $bgColorSweetPink;
                }
            }
        }
    }
}

/* Carrousel */

.container{
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    .slider-outer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
        }
        
        .slider-inner{
            width: 80vw;
            position: relative;
            overflow: hidden;
            padding: 3px;
            display: flex;
            flex-flow: row nowrap;
            
            
            img{
                display: none;
                width: 80vw;
                height: 70vh;
                object-fit: cover;
                border-radius: 50%;
            }
            
            img.active{
                display: inline-block;
            }
            
        }
        .prev .next{
            margin-top: 50%;
            cursor: pointer;
        }
        .prev{
            position: relative;
            margin-left: -45px;
            z-index: 100;
            border: none;
            background-color: $bgColorSweetPink;                
            width: 40px;
            cursor: pointer;
            border-radius: 50%;

            &:hover{
                background-color: white;
                border: solid 4px $bgColorSweetPink;
                transform: scale(1.05,1.05);
                transition: .5s;
            }
        }
        .next{
            position: relative;
            margin-right: -45px;
            z-index: 100;
            border: none;
            background-color: $bgColorSweetPink;                
            width: 40px;
            cursor: pointer;
            border-radius: 50%;
            &:hover{
                background-color: white;
                border: solid 4px $bgColorSweetPink;
                transform: scale(1.05,1.05);
                transition: .5s;
            }
            
        }

        
    }
    .containerCircle{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 100px;
        margin-top: 1rem;

        .circle1{
            width: 30px;
            height: 30px;
            border: solid  $bgColorSweetPink;
            border-radius: 60%;
            background-color: $bgColorSweetPink;
        }
        .circle2{
            width: 30px;
            height: 30px;
            border: solid  $bgColorSweetPink;
            border-radius: 60%;
            background-color: transparent;
        }
        .circle3{
            width: 30px;
            height: 30px;
            border: solid  $bgColorSweetPink;
            border-radius: 60%;
            background-color: transparent;
        }
    }
} 
/* fin carousel */


/* footer */
.footer{
    height: 35vh;
    width: 100vw;
    background-color: $bgColorSweetPink;   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .redesSociales{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        .enlaceRedes{
            margin-top: 1rem;
            width: 30px;
            height: 30px;
            margin-left: 1rem;

            &:hover{
                transform: scale(1.05,1.05);
                transition: .5s;
            }
        }
    }

    .enlacesFooter{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .enlacesFooterA{
            margin-top: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;

            a{
                color: $bgColorWhite;
                font-family: $font-family;
            }
        }
    }

    .enlacesContactoFooter{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 1rem;

        .enlacesContactoFooter__a{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-top: 1rem;

            img{
                width: 20px;
                height: 20px;
                border: none;
                margin-right: 5px;
            }
            a{
                color: $bgColorWhite;
                font-family: $font-family;
            }
        }
    }
}

/* HTML PANTALON */

#containerRopa{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);
        margin-bottom: 1rem;

        img{
            height: 60vh;
            width: 100%;
            
        }
        h4{
            font-size: 1.5rem;
            color: $bgColorSweetPink;
            text-align: center;
            margin-top: 1rem;
            font-family: $font-family;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                font-size: 1.1rem;
                height: 1rem;
                font-family: $font-family;
                
            }
            button{
                background-color: $bgColorSweetPink;
                border: solid 1px;
                color: $bgColorWhite;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 4px 5px;
                font-family: $font-family;
                cursor: pointer;
    
                &:hover{
                    
                    transition: 0.5s;
                    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
                    border: solid 1px $bgColorSweetPink;
                    background-color: $bgColorWhite;
                    color: $bgColorSweetPink;
                }
            }
        }
    }
}

/* HTML ACCESORIOS */
#containerAccesorios{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);
        margin-bottom: 1rem;

        img{
            height: 60vh;
            width: 100%;
            
        }
        h4{
            font-size: 1.5rem;
            color: $bgColorSweetPink;
            text-align: center;
            margin-top: 1rem;
            font-family: $font-family;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                font-size: 1.1rem;
                height: 1rem;
                font-family: $font-family;
                
            }
            button{
                background-color: $bgColorSweetPink;
                border: solid 1px;
                color: $bgColorWhite;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 4px 5px;
                font-family: $font-family;
                cursor: pointer;
    
                &:hover{
                    
                    transition: 0.5s;
                    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
                    border: solid 1px $bgColorSweetPink;
                    background-color: $bgColorWhite;
                    color: $bgColorSweetPink;
                }
            }
        }
    }
}

/* HTML ACCESORIOS */
#containerCamperas{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);
        margin-bottom: 1rem;

        img{
            height: 60vh;
            width: 100%;
            
        }
        h4{
            font-size: 1.5rem;
            color: $bgColorSweetPink;
            text-align: center;
            margin-top: 1rem;
            font-family: $font-family;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                font-size: 1.1rem;
                height: 1rem;
                font-family: $font-family;
                
            }
            button{
                background-color: $bgColorSweetPink;
                border: solid 1px;
                color: $bgColorWhite;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 4px 5px;
                font-family: $font-family;
                cursor: pointer;
    
                &:hover{
                    
                    transition: 0.5s;
                    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
                    border: solid 1px $bgColorSweetPink;
                    background-color: $bgColorWhite;
                    color: $bgColorSweetPink;
                }
            }
        }
    }
}

/* HTML REMERAS */
#containerRemeras{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);
        margin-bottom: 1rem;

        img{
            height: 60vh;
            width: 100%;
            
        }
        h4{
            font-size: 1.5rem;
            color: $bgColorSweetPink;
            text-align: center;
            margin-top: 1rem;
            font-family: $font-family;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                font-size: 1.1rem;
                height: 1rem;
                font-family: $font-family;
                
            }
            button{
                background-color: $bgColorSweetPink;
                border: solid 1px;
                color: $bgColorWhite;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 4px 5px;
                font-family: $font-family;
                cursor: pointer;
    
                &:hover{
                    
                    transition: 0.5s;
                    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
                    border: solid 1px $bgColorSweetPink;
                    background-color: $bgColorWhite;
                    color: $bgColorSweetPink;
                }
            }
        }
    }
}

/* HTML PRODUCTOS */
#containerProductos{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);
        margin-bottom: 1rem;

        img{
            height: 60vh;
            width: 100%;
            
        }
        h4{
            font-size: 1.5rem;
            color: $bgColorSweetPink;
            text-align: center;
            margin-top: 1rem;
            font-family: $font-family;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                font-size: 1.1rem;
                height: 1rem;
                font-family: $font-family;
                
            }
            button{
                background-color: $bgColorSweetPink;
                border: solid 1px;
                color: $bgColorWhite;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 4px 5px;
                font-family: $font-family;
                cursor: pointer;
    
                &:hover{
                    
                    transition: 0.5s;
                    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
                    border: solid 1px $bgColorSweetPink;
                    background-color: $bgColorWhite;
                    color: $bgColorSweetPink;
                }
            }
        }
    }
}