@import 'variables';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, $bgColorWhite, $bgColorSweetPink);
    height: 36vh; 
    
    

    img{
        height: 200px;    
    }    

    ul{
        float: right;
        margin-right: 25px;

        li{
            display: inline-block;            
            margin-right: 2rem;
            list-style: none;
            
            .nav-link{
                color: $bgColorWhite;
            }
            a{
                position: relative;
                color: $bgColorWhite;
                font-size: 18px;
                text-transform: uppercase;
                padding: 5px 0;
                text-decoration: none;
        

                &::before{
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 100%;
                    background: $bgColorWhite;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s linear;
                }
                &:hover::before{
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
    
}

.carrousel-item{
    
    img{
        height: 60vh;
    }
}

.tituloPrincipal{
    text-align: center;
    font-size: 5rem;
    color: $bgColorSweetPink;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.stickers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;

    .sticker{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 20vw;

        img{
            width: 6vw;
            height: 10vh;
        }
        h2{
            color: $bgColorSweetPink;
            font-size: 1.5rem;
            text-align: center;
            margin-top: 1rem;
        }
        h3{
            color: $bgColorSweetPink;
            font-size: 1rem;
        }
        .img_wpp{
            margin-top: 1.5rem;
            height: 8vh;
            width: 5vw;
        }
    }
}
#CarritoDeCompras__ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    .card__body{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .card__title{
            color: $bgColorSweetPink;
        }
        .btn{
            background-color: $bgColorSweetPink;
            border: none;

            &:hover{
                
                transition: 0.5s;
                box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
                border: solid 1px $bgColorSweetPink;
                background-color: $bgColorWhite;
                color: $bgColorSweetPink;
            }
        }
    }
}

/* Enlaces de pagina principal */
#section__enlaces{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .containerEnlace1{
        display: flex;
        flex-flow: row wrap;

        .enlace1{
            .enlaceImg{
                width: 40vw;
                height: 80vh;
            }
        }
    
    }

    .containerEnlace2-3-4{
        display: flex;
        flex-flow: column wrap;

        .enlace2{
            text-align: center;

            .enlaceImg{
                width: 50vw;
                height: 30vh;
            }
        }
        .container{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        
            .enlace3{
                .enlaceImg{
                    width: 25vw;
                    height: 43.5vh;
                }
            }
            .enlace4{
                .enlaceImg{
                    width: 25vw;
                    height: 43.5vh;
                }
            }
        }
    }
    

}

/* Titulo pagina principal */

.title{
    text-align: center;
    color : $bgColorSweetPink;
    margin-top: 2rem;
    margin-bottom: 2rem;    
    h2{
        font-size: 4rem;
    }
}

/* Ropa */
.container_fila{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);
        margin-bottom: 1rem;

        img{
            height: 60vh;
            width: 100%;
        }
        h4{
            color: $bgColorSweetPink;
            text-align: center;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                height: 1rem;
                
            }
            button{
                background-color: $bgColorSweetPink;
                border: solid 1px;
                color: $bgColorWhite;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 4px 5px;
    
                &:hover{
                    
                    transition: 0.5s;
                    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.15); */
                    border: solid 1px $bgColorSweetPink;
                    background-color: $bgColorWhite;
                    color: $bgColorSweetPink;
                }
            }
        }
    }
}

.footer{
    height: 40vh;
    width: 100vw;
    background-color: $bgColorSweetPink;

    .redesSociales{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .enlacesFooter{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .enlacesContactoFooter{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
}
