@import 'variables';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, $bgColorWhite, $bgColorSweetPink);
    height: 36vh; 
    
    

    img{
        height: 200px;    
    }    

    ul{
        float: right;
        margin-right: 25px;

        li{
            display: inline-block;            
            margin-right: 2rem;
            list-style: none;
            
            .nav-link{
                color: $bgColorWhite;
            }
            a{
                position: relative;
                color: $bgColorWhite;
                font-size: 18px;
                text-transform: uppercase;
                padding: 5px 0;
                text-decoration: none;
        

                &::before{
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 100%;
                    background: $bgColorWhite;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s linear;
                }
                &:hover::before{
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
    
}

.carrousel-item{
    
    img{
        height: 60vh;
    }
}

.tituloPrincipal{
    text-align: center;
    font-size: 5rem;
    color: $bgColorSweetPink;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.stickers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;

    .sticker{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 20vw;

        img{
            width: 6vw;
            height: 10vh;
        }
        h2{
            color: $bgColorSweetPink;
            font-size: 1.5rem;
            text-align: center;
            margin-top: 1rem;
        }
        h3{
            color: $bgColorSweetPink;
            font-size: 1rem;
        }
        .img_wpp{
            margin-top: 1.5rem;
            height: 8vh;
            width: 5vw;
        }
    }
}

.container_fila{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: space-around;
    margin-top: 3vh;
    
    .col_ropa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 23vw;
        box-shadow: 4px 5px 10px rgba(0,0,0,0.15);

        img{
            height: 60vh;
            width: 100%;
        }
        h4{
            color: $bgColorSweetPink;
            text-align: center;
        }
        .col__bolsa{
            display: flex;
            flex-flow: column nowrap;
            width: 10vw;
            padding: 5px;
            justify-content: center;
            align-items: center;

            h5{
                height: 1rem;
                
            }
            button{                
                margin-top: 1rem;
                background-color: $bgColorPink;
                padding: 0 5px;
                border-radius: 3px;
                border: solid 1px transparent;
                margin-bottom: 1rem;
                
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
        }
    }
}

