<!DOCTYPE html>
<html lang="es">
    <head>    
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <LINK rel=StyleSheet href="../css/style.css" type="text/css" MEDIA=screen>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <title>Valkiria Indumentaria</title>  
    </head>  
    <body>   
            
        <!-- INICIO DE NAV BAR -->
    
        -<nav class="navbar">
            <div class="brand-title">
            <img src="../img/logo/valiriaLogo-removebg-preview.png" alt="">
            <p class="brand-p">VLK IND</p>
            </div>
            <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </a>
            <div class="navbar-links">
            <ul>

                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="sobreNosotros.html">NOSOTRAS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
                <li>
                <button class="navbar-button" id="botonCarrito">
                <img src="../img/carro-removebg-preview.png" alt="">
                </button>
                </li>
                
            </ul>
            </div>
        </nav>

        <!-- Titulo principal -->
        <h1 class="tituloPrincipal">Contacto</h1>
        <section class="containerContacto">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.4450968069!2d-58.47166708491926!3d-34.6181907804557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9f3e4deb7cf%3A0x14ac7e4ed22500cd!2sAv.%20Gaona%203136%2C%20C1416DST%20CABA!5e0!3m2!1ses!2sar!4v1634172632551!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="enlacesContacto">
                <h2 class="tituloEnlacesContacto">Nuestras redes</h2>
                <div class="instagram">
                    <a href="https://www.instagram.com/vlk_ind/"><img src="../img/sticker/instagram.png" alt="" class="enlaceRedes"></a>
                    <h3 class="arrobaInstagram">@vlk_ind</h3>
                </div>
                <div class="whatsapp">
                    <img src="../img/sticker/whatsapp.png" alt="">
                    <a href="#">+54 111511141</a>
                </div>
                <div class="email">
                    <img src="../img/sticker/email.png" alt="">
                    <a href="#">valkiriaInd@gmail.com</a>
                </div>
            </div>
            </div>
        </section>
        
        
        <!-- Footer de pagina -->
        <footer class="footer">
            <div class="redesSociales">
                <div class="contactoInstagram">
                    <a href="https://www.instagram.com/vlk_ind/"><img src="../img/sticker/instagram.png" alt="" class="enlaceRedes"></a>
                </div>
                
            </div>
            <div class="enlacesFooter">
                <li class="enlacesFooterA"><a href="/index.html">Inicio</li>
                <li class="enlacesFooterA"><a href="productos.html">Productos</li>
                <li class="enlacesFooterA"><a href="#">Guia de talles</li>
                <li class="enlacesFooterA"><a href="contacto.html">Contacto</li>
                <li class="enlacesFooterA"><a href="sobreNosotros.html">Nosotras</li>              
            </div>
            <div class="enlacesContactoFooter">
            <div class="enlacesContactoFooter__a">
                <img src="../img/sticker/whatsapp.png" alt="">
                <a href="#">+54 111511141</a>
            </div>
            <div class="enlacesContactoFooter__a">
                <img src="../img/sticker/email.png" alt="">
                <a href="#">valkiriaInd@gmail.com</a>
            </div>
            <div class="enlacesContactoFooter__a">
                <img src="../img/sticker/posicion.png" alt="">
                <a href="https://goo.gl/maps/kn4dtHkJbXabnJAL7">Av. Gaona 3125</a></div>
            </div>
        </footer>  

        <script src="#"></script>
    </body>
</html>